<style>
div {
background-color: white;
width: 555px;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
</style>
<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: #cccccc;
}
</style>


<div>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
<br>
<%= link_to "Search Page", root_path %>
<br>


<h2><%= "$ whois #{@query_text} returned" %></h2>
<br>
<% @result.each do |line| %>
<%= line %>
<br>
<% end %>
<%= link_to "Search Page", root_path %>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
</div>
