<style>
div {
background-color: white;
width: 420px;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
</style>
<body>
<div><h1>Hello Utility -- app/views/home/index.html.erb</h1>
<%="Hello, today's date is:\n\n"%>
<br>
<br>
<%=`date`%>
<br>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
</div>
</body>
<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: #cccccc;
}
</style>
