<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
}
th {
  background-color: navy;
}
td {
  background-color: whitesmoke;
}
table#t01 th	{
    background-color: black;
    color: white;
}
</style>


<table align="center" width="30%"><tr><th><font color="white">Downloading</font></th></tr></table>
