<h1>New image</h1>

  <div class="field">
    <%= f.label :uploaded_file %>
    <%= f.file_field :uploaded_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>





<%= link_to 'Back', images_path %>
