<style>
#body {
background-color: white;
width: 255px;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
</style>


<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: grey;
}
</style>



<div id="body">
<h1>New DOI</h1>

<%= render 'form' %>
<%= link_to 'Back', dois_path %>
</div>
